*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
    width: 100%;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
    font-weight: bold;
    font-size: 3.5 rem;
}

h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}

h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

p {
    color: #8f8f8f;
}

.carousel-inner {
    height: 600px;
}

#press {
    background-color: gray;
    text-align: center;
    padding-bottom: 3%;
}

.press-img {
    width: 18%;
    margin: 20px 20px 10px;
    padding-top: 20px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-direction: column;
}

.box {
    padding-right: 20px;
}

.carousel {
    position: relative;
}

.borderline {
    width: 100%;
    padding-right: 30px;
}
.page4{
    overflow: hidden;   
    position: relative;
    width: 100vw;
    display: flex;
    align-items: center;
}

.faq{
    overflow: hidden;
    /* font-weight: 100; */
    border-radius: 2rem;
    display: flex;
    gap: 4rem;
    background-color: #15141B;
    padding:  5vh 5vw;
    margin:7vh 5vw;
}

.faq-left{
    color: #fff;
}

.faq>h1{
    font-family: uncut sans semibold;
    width: 40%;
    font-size: 2rem;

}

.wrapper {
    width: 100%;
  }

.container {
    position: relative;
    background:transparent;
    color: black;
    border-radius: 20px;
    border: 1px solid #3B414B;
    margin: 20px 0;
  }
  
.question {
    color: #fff;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    padding: 20px 80px 20px 20px;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
.question::after {
    content: "\002B";
    color: #B1A7EB;
    font-size: 2.2rem;
    position: absolute;
    right: 20px;
    transition: 0.2s;
  }
  
.question.active::after {
    transform: rotate(45deg);
  }
  
.answercont {
    max-height: 0;
    overflow: hidden;
    transition: 0.3s;
  }
  
.answer {
    color: #828284;
    font-size: 1.18rem;
    padding: 0 20px 20px;
    line-height: 1.5rem;
  }






  
nav.navbar {
    z-index: 4;
}

.nav2 {
    padding: 20px 20px 20px 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav2-div {
    display: flex;
    justify-content: space-between;
    
}

.nav2-img{
   padding-left: 20px;
}

.options {
    margin-left: 60px;
    display: flex;
    margin-right: 30px;
    flex-grow: 1.5;
}

.nav-link {
    padding-left: 10px;
    padding-right: 15px;
}

#footer {
    padding: 5% 10%;
}

.social-icon {
    margin: 20px 10px;
}

.ul-footer {
    list-style: none;
    text-align: left;
}

.footer-div {
    display: inline-block;
}

.end {
    text-align: center;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.a-footer {
    text-decoration: none;
    color: black;
}

.span-footer {
    color: blue;
}

.lawyer-hover,
.arbitators-hover,
.document-writer-hover,
.mediators-hover {
    position: absolute;
    width: 350px;
    background: transparent;
    background-color: #8f8f8f;
    display: none;
    z-index: 1;
    border-radius: 10px;
    
    
}

.lawyer-hover-div,
.arbitators-hover-div,
.document-writer-hover-div,
.mediators-hover-div {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.lawyer-hover-div2,
.arbitators-hover-div2,
.document-writer-hover-div2,
.mediators-hover-div2 {
    display: flex;
}

.hover-div-a {
    text-decoration: none;
    color: black;
}

.lawyer:hover .lawyer-hover {
    display: flex;
}

.arbitators:hover .arbitators-hover {
    display: flex;
}

.document-writer:hover .document-writer-hover {
    display: flex;
}

.mediators:hover .mediators-hover {
    display: flex;
}

.nav2-img {
    width: 75%;
    height: 90%;
}

