*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing:border-box ;
}
.a{
        background-color: white;
        width: 50%;
        border: 15px solid lightgray;
        padding: 50px;
        margin: 20px;
        margin-left: 20%;
      
    
}

.sendButton button{
    background-color: #FDA103;
    color: white;
    border: none;
    font-size:20px ;
    margin-top: 10px;

}
#password{
    margin-left: 10px;
}