main{
    width: 100vw;
    position: relative;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main h1{
    font-size: 3rem;
    padding: 4vh;
}

.main2{
    background-color: #137A79;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    color: white;
    padding-bottom: 50px;
}
.main2>h1{
    font-size: 3rem;
    margin-top: 50px;
    
}

.leaderboard{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    
}
.lead-head{
    gap: 45vh;
}
.lead-head,.lead-data{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    
}

.lead-data{
    border-radius: 20px;
    transition: all ease .1s;
    padding: 20px 40px;
    width: 65vw;
    text-align: left;
    
    background-color: rgba(255, 255, 255, .3);

}

.lead-data:hover{
    scale: 1.1;
    background-color: aliceblue;
    color: #137A79;
}


.lead-data img{
   height: 25px;
   width: 25px; 
   margin-right: 10px;
}

.lead-data h3{
    display: flex;
    align-items: center;
    text-align: left;
}