main{
    height: 100vh;
    width: 100vw;
    position: relative;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main h1{
    font-size: 3rem;
    padding: 4vh;
}

