.lawyer-wrapper{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.user-signup{
    background-color:  #ffffff;
    width: 100vw;
}
.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    padding: 0 30px;
}

#Lawyer-signup-form{
    height: 110vh;
    width: 800px;
    background-color: rgba(255,255,255,0.13);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}
#Lawyer-signup-form *{
    font-family: 'Poppins',sans-serif;
    color: #000000;
    letter-spacing: 0.5px;
}
#Lawyer-signup-form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

#Lawyer-signup-form label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
#Lawyer-signup-form .input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #e5e5e5;
}
#Lawyer-signup-form button{
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.social{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.social div{
  background: red;
  width: 150px;
  border-radius: 3px;
  padding: 5px 5px 10px 5px;
  background-color: rgba(255,255,255,0.27);
  color: #eaf0fb;
  text-align: center;
}
.social div:hover{
  background-color: rgba(255,255,255,0.47);
}
.social .fb{
  margin-left: 25px;
}

.social a{
    text-decoration: none;

}

.gender{
    display: flex;
}

.radio{
    width: 30px;
}

textarea{
    width: 100%;
    color: #000000;
}